<!DOCTYPE html>
<html>
<head>
    <title>Contact List</title>
</head>
<body>
    <h1>Contact List</h1>

    <!-- Add the search form -->
    <form method="get" action="">
        <input 
            type="text" 
            name="query" 
            placeholder="Search by name or email" 
            value="{{ query }}"> <!-- Keep the query visible in the input, the above name=query is where data is passing to view as query -->
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for contact in contacts %}
            <li>
                <a href="{{ contact.id }}/">{{ contact.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="add/">Add New Contact</a>
</body>
</html>
